.HeaderContainer {
    width: 90%;
    max-width: 500px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;
    padding: 40px 0;
}

.HeaderBackButton {
    width: 26px;
    height: 26px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background: none;

    cursor: pointer;

    svg {
        width: 100%;
        height: 100%;
    }
}

.HeaderHeart {
    width: 26px;
    height: 26px;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
        height: 100%;
    }
}