.ArrayContainer {
    width: 90%;
    max-width: 500px;

    display: flex;
    flex-direction: column;
    gap: 40px;

    margin: 0 auto;
    padding-bottom: 40px;
}

.ArrayItemHeader {
    display: flex;
    align-items: flex-end;
    gap: 15px;

    margin-bottom: 15px;
}

.ArrayItemTitle {
    font-size: 1.25rem;
    font-weight: 600;
}

.ArrayItemIcon {
    width: 36px;
    height: 36px;

    img {
        width: 100%;
        height: 100%;
    }
}

.CommandationList {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.CommandationItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.CommandationItemImage {
    width: 100%;
    height: 200px;

    border-radius: 10px;

    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.CommandationItemTitle {
    color: #444750;
}
